#root{
  height: 100%;
  font-family: 'Inria Sans', sans-serif;
}

.App{
  height: 100%;
}

#navBar{
  background-color: #003366;
  padding: 0px 30px;
  position: fixed;
  width: 100%;
  height: fit-content;
  top: 0px;
  display: inline-grid;
  grid-template-columns: auto auto fit-content(60px);
  column-gap: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.541));
  z-index: 200;
}

#navList{
  list-style: none;
  color: white;
  padding: 30px;
  height: 100%;
  text-align: center;
  margin: 0;
}

#navBar img{
  height: 100%;
  width: 100%;
}

#rightCorner{
  height: 50px;
  width: 50px;
  margin: auto 60px auto auto;
}

#imageContainer{
  height: 50px;
  width: 50px;
  margin: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.418));
  
}


#left{
  color: white;
}


#left{
  display: inline-grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  justify-content: left;
}

#rightCorner{
  background-color: #B8B0B0;
  border-radius: 50%;
}

#navList li{
  display: inline;
  padding: 0 5% 0 5%;
  border-right: solid 2px white;
}

.NavLinks:link, .NavLinks:visited{
  text-decoration: none;
  color: white; 
}
/* 
.NavLinks:hover{
  color: #FFD700;
} */

/* Footer */

footer{
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 20px 0 0px 0;
  bottom: 0;
  width: 100%;
  filter: drop-shadow(0px -4px 4px rgba(0, 0, 0, 0.541));
}

#footer-row{
  display: flex;
  flex-direction: row;
  width: 100%;
}


#footer-set-one, #footer-set-two{
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
  
}

#footer-set-three{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  align-items: center;
  padding: 0 10px 0 10px;
  color: white;
  background-color: #003366;
  bottom: 0;
  width: 100%;
}

#footer-set-one a,#footer-set-two a, #footer-set-three a{
  padding: 5px 0 5px 0;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

#footer-set-one a:hover, #footer-set-two a:hover, #footer-set-three a:hover{
  color: #FFD700;
}

#footer-set-one h3, #footer-set-two h3{
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  color: #808080;
}

#footer-logo {
  position: absolute;
  right: 0;
  margin-right: 135px;
  width: 13%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.541));
}

#logo-inside{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 20px;
}

#logo-inside img{
  cursor: pointer;
  width: 18%;
}

#footer-aiducator-logo{
  width: 90%;
  height: 100%;
  margin: auto;
}

#facebook-logo{
  width: 30px;
  height: 30px;
}